@model gestionaMelon.netbook

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>netbook</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ndeserie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ndeserie)
        </dd>

    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marca)
        </dd>

    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modelo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_netbook }) |
    @Html.ActionLink("Back to List", "Index")
</p>
