@model IEnumerable<gestionaMelon.netbook>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.ndeserie) </th>
        <th> @Html.DisplayNameFor(model => model.marca) </th>
        <th>@Html.DisplayNameFor(model => model.modelo)</th>
<th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.ndeserie)</td>
        <td>@Html.DisplayFor(modelItem => item.marca)</td>
        <td>@Html.DisplayFor(modelItem => item.modelo)</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_netbook }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_netbook }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_netbook })
        </td>
    </tr>
}

</table>
