@model gestionaMelon.netbook

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>netbook</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.ndeserie, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ndeserie)
                @Html.ValidationMessageFor(model => model.ndeserie)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.marca, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.marca)
                @Html.ValidationMessageFor(model => model.marca)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.modelo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.modelo)
                @Html.ValidationMessageFor(model => model.modelo)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
